body {
  font-family: cursive;
  background: linear-gradient(#0000, #686868, #f1eeee);
}
/*  id of the parent div  */
#parent-div {
  display: grid;
  grid-template-areas:
    "header header header header header"
    "sidebar main main  main right-bar "
    "sidebar main main main right-bar "
    "sidebar main main main right-bar"
    "footer footer footer footer footer"
    "gallery gallery gallery gallery gallery";
}
/*  id of the header div  */
#header-div {
  display: flex;
  justify-content: space-between;
  grid-area: header;
  height: 30vh;
  width: 100vw;
}
/* id of the face-div */
#face-div {
  background-image: url(images/facebook.png);
  height: 15vh;
  width: 20vw;
  align-self: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* id of the github-div */
#github-div {
  background-image: url(images/GitHub-Logo.png);
  height: 15vh;
  width: 20vw;
  align-self: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* id of the linkedin-div */
#linkdin-div {
  background-image: url(images/linkdin.png);
  height: 15vh;
  width: 20vw;
  align-self: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* id of the instegram-div */
#instegram-div {
  background-image: url(images/instegram.png);
  height: 15vh;
  width: 20vw;
  align-self: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* id of the twitter-div */
#twitter-div {
  background-image: url(images/twitter.png);
  height: 15vh;
  width: 20vw;
  align-self: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/*  id of the sidebar div  */
#sidebar-div {
  background: linear-gradient(rgb(70, 67, 67), #5e5d5d50, #838383b4);
  border-radius: 50%;
  display: flex;
  grid-area: sidebar;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-weight: 800;
  font-size: x-large;
  width: 16vw;
  height: 75vh;
}
/* class of the menu */
.menu {
  color: black;
  text-decoration: none;
}
/* id of the main div */
#main-div {
  width: 100%;
  display: flex;
  grid-area: main;
}
/* id of the personal-info */
#personal-info {
  display: flex;
  flex-direction: column;
  width: 59vw;
}
/* animation of the yosi-pic */
@keyframes yosi {
  from {
    transform: scaleY(0);
    transform: scaleX(0);
    filter: drop-shadow(15px 10px 1px black);
  }
  to {
    transform: scaleY(2);
    transform: scaleX(2);
    filter: drop-shadow(15px 10px 4px black);
  }
}
/* id of the yosi-pic */
#yosi-pic {
  animation-name: yosi;
  transition: all;
  display: flex;
  height: 40vh;
  width: 40%;
  align-self: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(images/יוסי.png);
}
/* the hover triger of the yosi-pic */
#yosi-pic:hover {
  animation-name: yosi;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
  animation-direction: alternate-reverse;
}
/* id of the content */
#content {
  display: flex;
  flex-direction: column;
  font-size: medium;
  font-weight: bold;
}
/* id of the headline */
#headline {
  font-size: xx-large;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* id of the span */
#span {
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* id of headliners */
.headliners {
  font-size: x-large;
  font-weight: bolder;
}
/* id of work */
#work {
  background-image: url(images/work.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 13%;
  height: 15vh;
  align-self: center;
}
/* id of army */
#army {
  background-image: url(images/army.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 15vh;
  width: 13%;
  align-self: center;
}
/* id of education */
#education {
  background-image: url(images/education.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 15vh;
  width: 13%;
  align-self: center;
}
/* id of football */
#football {
  background-image: url(images/football.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 15vh;
  width: 13%;
  align-self: center;
}

/* id of the right_bar-div */
#right_bar-div {
  display: flex;
  flex-wrap: wrap;
  grid-area: right-bar;
  width: 25vw;
  font-size: small;
  font-weight: bolder;
}
.buttons{
  text-decoration: none;
  color: black;
}
/* id of the github-profile */
#github-profile {
  background-image: url(https://github.com/Yosibalacho);
  display: flex;
  background-image: url(images/github-profile.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 70%;
  
}
/* id of the piano */
#piano {
  background: linear-gradient(rgb(0, 0, 0), #5e5d5d50, #9c9c9cb4);
  display: flex;
  justify-content: center;
  background-image: url(images/piano.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 85%;
}
/* id of the ynet */
#ynet {
  background: linear-gradient(rgb(0, 0, 0), #5e5d5d50, #9c9c9cb4);

  display: flex;
  background-image: url(images/ynet.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 87%;
}
/*  id of the footer div  */
#footer-div {
  height: 30vh;
  display: flex;
  justify-content: space-around;

  align-items: center;
  font-size: larger;
  font-weight: bolder;
  grid-area: footer;
}
/* id of the email */
#email {
  text-decoration: none;
  color: black;
}
/* id of the contact */
#contact {
  text-decoration: none;
  color: black;
}
/*  id of the gallery div  */
#gallery {
  display: flex;
  grid-area: gallery;
  height: 50vh;
  border: 2px solid black;
}
/* animation of the first-pic */
@keyframes first {
  0% {
    background-image: url(images/fourth-pic.png);
  }
  25% {
    background-image: url(images/12-pic.png);
  }
  50% {
    background-image: url(images/16-pic.png);
  }
  100% {
    background-image: url(images/fifth-pic.png);
  }
}
/*  id of first-pic  */
#first-pic {
  animation-name: first;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-image: url(images/first-pic.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid black;
  height: 50vh;
  width: 25vw;
}
/* animation of the second-pic */
@keyframes second {
  0% {
    background-image: url(images/seventh-pic.png);
  }
  25% {
    background-image: url(images/8-pic.png);
  }
  50% {
    background-image: url(images/9-pic.png);
  }
  100% {
    background-image: url(images/15-pic.png);
  }
}
/*  id of second-pic  */
#second-pic {
  animation-name: second;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 10s;
  background-image: url(images/second-pic.png);
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid black;
  height: 50vh;
  width: 25vw;
}
/* animation of the third-pic */
@keyframes third {
  0% {
    background-image: url(images/13-pic.png);
  }
  25% {
    background-image: url(images/third-pic.png);
  }
  50% {
    background-image: url(images/sixth-pic.png);
  }
  100% {
    background-image: url(images/10-pic.png);
  }
}
/*  id of third-pic  */
#third-pic {
  animation-name: third;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 10s;
  background-image: url(images/third-pic.png);
  background-size: contain;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border: 2px solid black;
  height: 50vh;
  width: 25vw;
}
/* animation of the fourth-pic */
@keyframes fourth {
  0% {
    background-image: url(images/11-pic.png);
  }
  25% {
    background-image: url(images/14-pic.png);
  }
  50% {
    background-image: url(images/first-pic.png);
  }
  100% {
    background-image: url(images/second-pic.png);
  }
}
/*  id of fourth-pic  */
#fourth-pic {
  animation-name: fourth;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 10s;
  background-image: url(images/fourth-pic.png);
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid black;
  height: 50vh;
  width: 25vw;
}
